@model IEnumerable<GestionTecnologica.Models.Equipo>

@{
    ViewData["Title"] = "Informe";
}

<h2>Informe</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaExpiracionGarantia)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoEquipo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sede.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaExpiracionGarantia)
                </td>
            </tr>
        }
    </tbody>
</table>